@import "tailwindcss";

/* Force robust centering since standard Tailwind v4 classes might be failing on production */
.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.container {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}